<div class="col-md-7 m-auto">
    <div class="card">
      <h2 class="card-header text-center">Dashboard</h2>
        <div class="card-body">
            <h4 class="card-title text-center">Welcome <%= name %></h4>
            <p>Welcome to our world</p>
            <p>Now all the resources here are at you disposal. Enjoy!</p>
            <a href="/users/logout" class='btn-btn-primary'>Logout</a>
        </div>
      <p class="card-footer text-center text-muted mb-0">Glad to have you here</p>
    </div>
</div>